<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{header :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="ml-20vw px-4">

<!------------------------------------------------------- XU LY ----------------------------------------------------->
<!-- Menu -->
<div class="menu pt-3 px-4 d-flex flex-column gap-3">
    <a
            th:href="@{/quanly(isShowList=true)}"
            class="item"
    >
        <i class="fas fa-users"></i>
        Quản Lý Nhân Viên
    </a>
    <div class="quan-ly-tuyen-xe">
        <div class="item d-flex flex-row justify-content-between"
             role="button"
        >
            <div>
                <i class="fas fa-bus"></i>
                Tuyến Xe
            </div>
            <i class="fas fa-caret-down"></i>
        </div>
        <ul class="list">
            <li>
                <a
                        th:href="@{/quanly(isQuanLyTuyenXe=true)}"
                >Quản Lý Tuyến Xe</a>
            </li>
            <li>
                <a th:href="@{/quanly(isQuanLyDiaDiem=true)}">Quản Lý Địa Điểm</a>
            </li>
        </ul>
        <a
                th:href="@{/quanly/thongKe}"
                class="item"
        >
            <i class="fas fa-users"></i>
            Thống Kê
        </a>
        <form id="form2"
                   th:action="@{/logout}" method="POST"
        >
            <button type="submit" class="dropdown-item" form="form2">
                <i class="fas fa-sign-out-alt"></i>
                Đăng xuất
            </button>
        </form>
    </div>
</div>
<!-- -------------------------------------- QUẢN LÝ NHÂN VIÊN -------------------------------------- -->
<th:block th:if="${param.isShowList }">
    <div>
        <h1 class="text-center">Quản Lý Nhân Viên</h1>
        <a th:href="@{/quanly(isThemNV=true)}"
           class="d-inline-block btn btn-success btn--them-nv"
        >Thêm Nhân Viên</a>
        <table
                class="table table-warning table-hover mx-auto shadow-sm border nv-table"
        >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <!-- Lặp forEach ở đây, id thì in đậm -->
            <th:block th:each="nv : ${nvList }">
                <tr>
                    <th style="padding-top: 15px" th:text="${nv.idNhanVien }"></th>
                    <td style="padding-top: 15px" th:text="${nv.hoTen }"></td>
                    <td style="padding-top: 15px" th:text="${nv.soDienThoai }"></td>
                    <td style="padding-top: 15px" th:text="${nv.email }"></td>
                    <td>
                        <form th:action="@{/quanly/xoaNV}" method="POST"
                                   th:onsubmit="|return confirm('Bạn chắn chắc muốn xóa nhân viên có ID=' + ${nv.idNhanVien } + '');|"
                              th:on
                        >
                            <input type="hidden" name="idNV" th:value="${nv.idNhanVien }"/>
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</th:block>
<!-- -------------------------------------- THÊM NHÂN VIÊN -------------------------------------- -->
<th:block th:if="${param.isThemNV }">
    <div>
        <h3 class="text-center my-4">Thêm Nhân Viên</h3>
        <th:block th:if="${param.tontaiSDT }">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor"
                        viewBox="0 0 16 16"
                >
                    <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                    />
                </symbol>
            </svg>
            <div class="alert alert-danger d-flex align-items-center mx-auto"
                 style="max-width: 500px" role="alert"
            >
                <svg class="bi flex-shrink-0 me-2" width="24" height="24"
                     role="img" aria-label="Danger:"
                >
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>Số điện thoại đã có tài khoản.</div>
            </div>
        </th:block>
        <form th:action="@{/quanly/themNV}" th:object="${nhanVien}" method="POST"
                   class="infoValidation" novalidate="novalidate"
        >
            <div class="row my-5">
                <div class="col">
                    <div class="card m-auto " style="max-width: 800px;">
                        <div class="card-header text-muted">THÔNG TIN CÁ NHÂN</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <label for="inputName" class="col-sm-3 col-form-label">Họ
                                    và tên:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{hoTen}" class="form-control"
                                                id="inputName" required="required"
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập họ
                                        tên.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail" class="col-sm-3 col-form-label">Email:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{email}" type="email"
                                                class="form-control" id="inputEmail" required="required"
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập email.</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPhone" class="col-sm-3 col-form-label">Số
                                    điện thoại:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{soDienThoai}" class="form-control"
                                                id="inputPhone" required="required"
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập số
                                        điện thoại hợp lệ.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputIdno" class="col-sm-3 col-form-label">CMND/CCCD:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{cmnd}" class="form-control"
                                                id="inputIdno" required="required"
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập số
                                        chứng minh nhân dân / căn cước công dân.
                                    </div>
                                </div>
                            </div>
                            <!-- Giới tính -->
                            <div class="row my-4">
                                <label for="gioiTinh">Giới tính:</label>
                                <div class="col-sm-9 mt-2">
                                    <div class="form-check form-check-inline">
                                        <label>
                                            <input type="radio" th:field="*{gioiTinh}" value="Nam"
                                                   class="form-check-input" required="required"
                                            />
                                             Nam
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label>
                                            <input type="radio" th:field="*{gioiTinh}" value="Nữ"
                                                              class="form-check-input" required="required"
                                            />
                                             Nữ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Mật khẩu -->
                            <div class="row mb-3">
                                <label for="password" class="col-sm-3 col-form-label">Password:</label>
                                <div class="col-sm-9">
                                    <input type="password" name="password" class="form-control"
                                           id="password" required
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập mật
                                        khẩu.
                                    </div>
                                </div>
                            </div>
                            <!--   ngày sinh giữ nguyên không làm form:input  -->
                            <div class="row my-4">
                                <div class="col-sm-3 col-form-label">Ngày sinh:</div>
                                <div class="col-sm-9 row justify-content-around">
                                    <input type="text" name="dd" id="" placeholder="Ngày"
                                           class="form-control" style="width: 100px;"
                                           th:value="${nhanVien.ngaySinh.substring(8) }" required
                                    >
                                    <input type="text" name="mm" id="" placeholder="Tháng"
                                           class="form-control" style="width: 100px;"
                                           th:value="${nhanVien.ngaySinh.substring(5,7)}" required
                                    >
                                    <input type="text" name="yyyy" id="" placeholder="Năm"
                                           class="form-control" style="width: 100px;"
                                           th:value="${nhanVien.ngaySinh.substring(0,4)}" required
                                    >
                                    <div class="invalid-feedback">Xin vui lòng nhập ngày,
                                        tháng, năm sinh hợp lệ.
                                    </div>
                                </div>
                            </div>
                            <!--   ngày bắt đầu làm việc giữ nguyên không làm form:input  -->
                            <div class="row my-4">
                                <div class="col-sm-3 col-form-label">Ngày bắt đầu làm
                                    việc:
                                </div>
                                <div class="col-sm-9 row justify-content-around">
                                    <input type="text" name="bdlv-dd" id="" placeholder="Ngày"
                                           class="form-control" style="width: 100px;" required
                                    >
                                    <input type="text" name="bdlv-mm" id="" placeholder="Tháng"
                                           class="form-control" style="width: 100px;" required
                                    >
                                    <input type="text" name="bdlv-yyyy" id="" placeholder="Năm"
                                           class="form-control" style="width: 100px;" required
                                    >
                                    <div class="invalid-feedback">Xin vui lòng nhập ngày,
                                        tháng, năm bắt đầu làm việc hợp lệ.
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-8"></div>
                                <div class="col-4">
                                    <input type="submit"
                                           class="my-4 mt-md-0 btn btn-success d-block"
                                           style="width: 200px;" value="Lưu Thông Tin"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>
<!-- -------------------------------------- QUẢN LÝ TUYẾN XE -------------------------------------- -->
<th:block th:if="${param.isQuanLyTuyenXe }">
    <div>
        <h1 class="text-center">Quản Lý Tuyến Xe</h1>
        <th:block th:if="${param.tonTaiChuyenXe }">
            <div class="d-flex justify-content-center my-3">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Tuyến xe này đã tồn tại chuyến xe đi nên không
                        thể xóa.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>
        <th:block th:if="${param.xoaTuyenXeThanhCong }">
            <div class="d-flex justify-content-center my-3">
                <div class="alert alert-success alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Xóa tuyến xe thành công.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>
        <th:block th:if="${param.daBiThanhToan }">
            <div class="d-flex justify-content-center my-3">
                <div class="alert alert-warning alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Tuyến xe này đã có chuyến xe đã bị đặt vé nên
                        không thể sửa.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>
        <div class="text-end">
            <a
                    th:href="@{/quanly(isThemTuyenXe=true)}"
                    class="d-inline-block btn btn-success"
            >Thêm Tuyến Xe</a>
        </div>
        <div class="container mt-3">
            <div class="row head fw-bold ">
                <div class="col-1 p-0  text-center border py-3">ID</div>
                <div class="col p-0  text-center border py-3">Tuyến đi</div>
                <div class="col-2 p-0  text-center border py-3 ">Địa điểm
                    đi
                </div>
                <div class="col-2 p-0  text-center border py-3">Địa điểm
                    đến
                </div>
                <div class="col-1 p-0  text-center border py-3">Km</div>
                <div class="col-1 p-0  text-center border py-3">Thời gian</div>
                <div class="col p-0  text-center border py-3">Action</div>
            </div>
            <div class="grid-scroll">
                <th:block th:each="tx : ${tuyenXeList }">
                    <div class="row">
                        <div class="col-1 p-0  text-center border py-3" th:text="${tx.idTuyen }"></div>
                        <div class="col p-0  text-center border py-3" th:inline="text">[[${tx.diaDiemDi.tenDiaDiem }]]
                            → [[${tx.diaDiemDen.tenDiaDiem }]]
                        </div>
                        <div class="col-2 p-0  text-center border py-3 " th:text="${tx.diaDiemLenXe }"></div>
                        <div class="col-2 p-0  text-center border py-3" th:text="${tx.diaDiemXuongXe }"></div>
                        <div class="col-1 p-0  text-center border py-3" th:text="${tx.soKm }"></div>
                        <div class="col-1 p-0  text-center border py-3" th:text="${tx.thoiGianTon }"></div>
                        <div class="col p-0  text-center border py-3">
                            <form class="d-inline-block" th:action="@{/quanly/xuLyTuyenXe}"
                                       method="POST"
                                       th:onsubmit="|return confirm('Bạn chắn chắc muốn chỉnh sửa tuyến xe có ID=' + ${tx.idTuyen } +'');|"
                            >
                                <input type="hidden" name="idTuyenXe" th:value="${tx.idTuyen }"/>
                                <button type="submit" name="updateBtn"
                                        class="btn btn-info fw-bold"
                                >Update
                                </button>
                            </form>
                            <form class="d-inline-block" th:action="@{/quanly/xuLyTuyenXe}"
                                       method="POST"
                                       th:onsubmit="|return confirm('Bạn chắn chắc muốn xóa tuyến xe có ID=' + ${tx.idTuyen }'');|"
                            >
                                <input type="hidden" name="idTuyenXe" th:value="${tx.idTuyen }"/>
                                <button name="deleteBtn" class="btn btn-danger fw-bold">Delete</button>
                            </form>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
<!-- -------------------------------------- THÊM VÀ CHỈNH SỬA TUYẾN XE -------------------------------------- -->
<th:block th:if="${param.isThemTuyenXe} or ${isUpdateTuyenXe}">
    <div>
        <th:block th:if="${param.isThemTuyenXe }">
            <h3 class="text-center my-4">Thêm Tuyến Xe</h3>
        </th:block>
        <th:block th:if="${isUpdateTuyenXe }">
            <h3 class="text-center my-4">Chỉnh sửa Tuyến Xe</h3>
        </th:block>

        <th:block th:if="${param.tonTaiTuyenXe} or ${tonTaiTuyenXe}">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor"
                        viewBox="0 0 16 16"
                >
                    <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                    />
                </symbol>
            </svg>
            <div class="alert alert-danger d-flex align-items-center mx-auto"
                 style="max-width: 500px" role="alert"
            >
                <svg class="bi flex-shrink-0 me-2" width="24" height="24"
                     role="img" aria-label="Danger:"
                >
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>Tuyến xe tương ứng với điểm đi, điểm đến này đã tồn
                    tại.
                </div>
            </div>
        </th:block>
        <th:block th:if="${param.diaDiemKhongTonTai}">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

                <symbol id="exclamation-triangle-fill" fill="currentColor"
                        viewBox="0 0 16 16"
                >
                    <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                    />
                </symbol>
            </svg>
            <div class="alert alert-danger d-flex align-items-center mx-auto"
                 style="max-width: 500px" role="alert"
            >
                <svg class="bi flex-shrink-0 me-2" width="24" height="24"
                     role="img" aria-label="Danger:"
                >
                    <use xlink:href="#exclamation-triangle-fill"/>
                </svg>
                <div>Điểm đi hoặc điểm đến không có trong dữ liệu.</div>
            </div>
        </th:block>
        <form th:action="@{/quanly/xuLyTuyenXe}" th:object="${tuyenXe}"
                   method="POST" class="infoValidation" novalidate="novalidate"
                   onsubmit="return validateThemTuyenXeForm()"
        >
            <div class="row my-5">
                <div class="col">
                    <div class="card m-auto " style="max-width: 800px;">
                        <div class="card-header text-muted">THÔNG TIN TUYẾN XE</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <th:block th:if="${isUpdateTuyenXe }">
                                    <input type="hidden" name="idTuyenXe" th:value="${tuyenXe.idTuyen }"/>
                                    <input type="hidden" name="diaDiemDiCu" th:value="${tuyenXe.diaDiemDi.tenDiaDiem }">
                                    <input type="hidden" name="diaDiemDenCu" th:value="${tuyenXe.diaDiemDen.tenDiaDiem }">
                                </th:block>

                                <label for="diaDiemDi" class="col-sm-3 col-form-label">Địa
                                    điểm đi:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" required list="diPlaces"
                                           name="diaDiemDi" id="diaDiemDi"
                                    >
                                    <datalist id="diPlaces">
                                        <th:block th:each="diaDiem : ${diPlaces}">
                                            <option th:field="*{diaDiemDi}" th:value="${diaDiem.tenDiaDiem }">
                                        </th:block>
                                    </datalist>
                                    <div class="invalid-feedback">Xin vui lòng chọn địa
                                        điểm đi.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="diaDiemDen" class="col-sm-3 col-form-label">Địa
                                    điểm đến:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" required list="denPlaces"
                                           name="diaDiemDen" id="diaDiemDen"
                                    >
                                    <datalist id="denPlaces">
                                        <th:block th:each="diaDiem : ${denPlaces }">
                                            <option th:field="*{diaDiemDen}" th:value="${diaDiem.tenDiaDiem }">
                                        </th:block>
                                    </datalist>
                                    <div class="invalid-feedback">Xin vui lòng chọn địa
                                        điểm đến.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDiaDiemLenXe"
                                       class="col-sm-3 col-form-label"
                                >Địa điểm lên xe:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{diaDiemLenXe}" class="form-control"
                                                id="inputDiaDiemLenXe" required="required"
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập địa
                                        điểm lên xe hợp lệ.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputDiaDiemXuongXe"
                                       class="col-sm-3 col-form-label"
                                >Địa điểm xuống xe:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{diaDiemXuongXe}" class="form-control"
                                                id="inputDiaDiemXuongXe" required="required"
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập địa
                                        điểm xuống xe hợp lệ.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputSoKM" class="col-sm-3 col-form-label">Số
                                    KM:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{soKm}" class="form-control"
                                                id="inputSoKM" required="required"
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập khoảng
                                        Km hợp lệ.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputThoiGianTon" class="col-sm-3 col-form-label">Thời
                                    gian tốn:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{thoiGianTon}" class="form-control"
                                                id="inputThoiGianTon" required="required"
                                    />
                                    <div class="invalid-feedback">Xin vui lòng nhập khoảng
                                        thời gian tốn cho chuyến đi.
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-8"></div>
                                <th:block th:if="${param.isThemTuyenXe }">
                                    <div class="col-4">
                                        <input type="submit" name="add"
                                               class="my-4 mt-md-0 btn btn-success d-block"
                                               style="width: 200px;" value="Lưu Thông Tin"
                                        />
                                    </div>
                                </th:block>
                                <th:block th:if="${isUpdateTuyenXe }">
                                    <div class="col-4">
                                        <input type="submit" name="update"
                                               class="my-4 mt-md-0 btn btn-success d-block"
                                               style="width: 200px;" value="Lưu Thông Tin"
                                        />
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>
<!-- -------------------------------------- QUẢN LÝ ĐỊA ĐIỂM ----------------------------- -->
<th:block th:if="${param.isQuanLyDiaDiem }">
    <div>
        <h1 class="text-center">Quản Lý Địa Điểm</h1>

        <th:block th:if="${param.diaDiemTonTaiTuyen }">
            <div class="d-flex justify-content-center mt-4">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Địa điểm này đã có tuyến xe chạy nên không thể xóa 😢.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>

        <th:block th:if="${param.xoaDiaDiem }">
            <div class="d-flex justify-content-center mt-4">
                <div class="alert alert-success alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Xóa địa điểm thành công 😊.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>

        <th:block th:if="${param.tonTaiVe }">
            <div class="d-flex justify-content-center mt-4">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Chuyến xe mà đi, đến địa điểm này đã bị khách hàng đặt vé nên không thể đổi 😢.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>

        <div class="text-end">
            <a
                    th:href="@{/quanly(isThemDiaDiem=true)}"
                    class="d-inline-block btn btn-success"
            >Thêm Địa Điểm</a>
        </div>
        <div class="container mt-3" style="max-width: 500px">
            <div class="row head fw-bold ">
                <div class="col-2 p-0  text-center border py-3">ID</div>
                <div class="col-5 p-0  text-center border py-3">Tên địa điểm</div>
                <div class="col p-0  text-center border py-3">Action</div>
            </div>
            <div class="grid-scroll">
                <th:block th:each="place : ${places }">
                    <div class="row">
                        <div class="col-2 p-0  text-center border py-3" th:text="${place.idDiaDiem }"></div>
                        <div class="col-5 p-0  text-center border py-3" th:text="${place.tenDiaDiem }">
                        </div>

                        <div class="col p-0  text-center border py-3">
                            <form class="d-inline-block" th:action="@{/quanly/xuLyDiaDiem}"
                                       method="POST"
                                       th:onsubmit="|return confirm('Bạn chắn chắc muốn chỉnh sửa địa điểm có ID=' + ${place.idDiaDiem } + '');|"
                            >
                                <input type="hidden" name="idDiaDiem" th:value="${place.idDiaDiem }"/>
                                <button type="submit" name="updateDiaDiemBtn"
                                        class="btn btn-info fw-bold"
                                >Update
                                </button>
                            </form>
                            <form class="d-inline-block" th:action="@{/quanly/xuLyDiaDiem}"
                                       method="POST"
                                       th:onsubmit="|return confirm('Bạn chắn chắc muốn xóa địa điểm có ID=' + ${place.idDiaDiem } + '');|"
                            >
                                <input type="hidden" name="idDiaDiem" th:value="${place.idDiaDiem }"/>
                                <button name="deleteDiaDiemBtn" class="btn btn-danger fw-bold">Delete</button>
                            </form>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
<!-- -------------------------------------- THÊM ĐỊA ĐIỂM ----------------------------- -->

<th:block th:if="${param.isThemDiaDiem }">
    <div class="container">
        <h1 class="text-center">Thêm Địa Điểm</h1>

        <th:block th:if="${param.tonTaiDiaDiem }">
            <div class="d-flex justify-content-center mt-4">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Tên địa điểm đã tồn tại 😢.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>

        <th:block th:if="${param.themDiaDiemThanhCong }">
            <div class="d-flex justify-content-center mt-4">
                <div class="alert alert-success alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Thêm địa điểm thành công 😊.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>

        <form th:action="@{/quanly/themDiaDiem}" th:object="${diaDiem}"
                   method="POST" class="infoValidation" novalidate="novalidate"
                   onsubmit="return validateThemDiaDiemForm()"
        >
            <div class="row my-5">
                <div class="col">
                    <div class="card m-auto " style="max-width: 800px;">
                        <div class="card-header text-muted text-center">THÔNG TIN ĐỊA ĐIỂM</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <label for="inputTenDiaDiem" class="col-sm-3 col-form-label">Tên địa điểm:</label>
                                <div class="col-sm-9">
                                    <input th:field="*{tenDiaDiem}" class="form-control"
                                                id="inputTenDiaDiem" required="required"
                                    />
                                    <div class="invalid-feedback">Tên địa điểm không được để trống.</div>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-8"></div>
                                <div class="col-4 text-end">
                                    <input type="submit"
                                           class="my-2 mt-md-0 btn btn-success"
                                           style="width: 200px;" value="Lưu Thông Tin"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>

<!-- -------------------------------------- UPDATE ĐỊA ĐIỂM ----------------------------- -->

<th:block th:if="${DuDKChinhSuaDD }">
    <div class="container">
        <h1 class="text-center">Sửa Địa Điểm</h1>

        <th:block th:if="${param.tonTaiDiaDiem }">
            <div class="d-flex justify-content-center mt-4">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Tên địa điểm đã tồn tại 😢.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>

        <th:block th:if="${param.thayDoiDiaDiemThanhCong }">
            <div class="d-flex justify-content-center mt-4">
                <div class="alert alert-success alert-dismissible fade show"
                     role="alert"
                >
                    <strong>Thay đổi địa điểm thành công 😊.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"
                    ></button>
                </div>
            </div>
        </th:block>

        <form th:action="@{/quanly/updateDiaDiem}" th:object="${diaDiem}"
                   method="POST" class="infoValidation" novalidate="novalidate"
                   onsubmit="return validateThemDiaDiemForm()"
        >
            <div class="row my-5">
                <div class="col">
                    <div class="card m-auto " style="max-width: 800px;">
                        <div class="card-header text-muted text-center">THÔNG TIN ĐỊA ĐIỂM</div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <label for="inputTenDiaDiem" class="col-sm-3 col-form-label">Tên địa điểm:</label>
                                <div class="col-sm-9">
                                    <input type="hidden" th:field="*{idDiaDiem}"/>
                                    <input type="text" th:field="*{tenDiaDiem}" class="form-control"
                                                id="inputTenDiaDiem" required="required"
                                    />
                                    <div class="invalid-feedback">Tên địa điểm không được để trống.</div>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-8"></div>
                                <div class="col-4 text-end">
                                    <input type="submit"
                                           class="my-2 mt-md-0 btn btn-success"
                                           style="width: 200px;" value="Lưu Thông Tin"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>
<!--------------------------------------------------- END XU LY ------------------------------------------------------------>
<!-- SCRIPTS -->
<th:block th:replace="~{footer :: scripts}"></th:block>
<!-- END SCRIPTS -->
</body>
</html>